.profilePage{
    padding-top: 10.2rem;
    padding-bottom: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        color: #000000;
        font-size: 36px;
        font-weight: 400;
        line-height: 49.03px;
        letter-spacing: -0.035em;
        text-align: left;
    }
    &__subtitle{
        margin-top: 0.8rem;

        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 24.52px;
        letter-spacing: -0.035em;
        text-align: left;
    }

    &__profile{
        margin-top: 4.4rem;

        width: 100%;
        max-width: 845.91px;
        min-height: 580.54px;
        border-radius: 12px ;
        border: 1px solid #E0E0E0;

        display: flex;
        flex-direction: column;
        &__header{
            width: 100%;
            min-height: 7.3rem;
            padding: 1.2rem 0rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            border-bottom: 1px solid #E0E0E0;
            padding: 2.8rem 4.8rem 3.7rem 4.9rem;
            
            &__title{
                color: #000000;
                font-size: 24px;
                font-weight: 400;
                line-height: 32.69px;
                letter-spacing: -0.035em;
                text-align: left;

            }
            &__subtitle{
                color: #828282;
                font-size: 13px;
                font-weight: 500;
                line-height: 17.71px;
                letter-spacing: -0.035em;
                text-align: left;

            }

            &__editButton{
                width: 9.534rem;
                height: 3.8rem;
                border-radius: 12px;
                color: #828282;
                border: 1px solid #828282;

                font-family: "Noto Sans";
                font-size: 16px;
                font-weight: 500;
                line-height: 21.79px;
                letter-spacing: -0.035em;
                text-align: center;

            }
        }

        &__item{
            width: 100%;
            min-height: 7.3rem;
            padding: 1.2rem 0rem;
            display: grid;
            grid-template-columns: 28rem auto;
            align-items: center;
            
            border-bottom: 1px solid #E0E0E0;
            
            .label{
                width: 100%;
                max-width: 28rem;
                padding-left: 5rem;

                color: #BDBDBD;
                font-size: 13px;
                font-weight: 500;
                line-height: 17.71px;
                letter-spacing: -0.035em;
                text-align: left;

            }

            .data{

                overflow:scroll;
                max-height: 14.6rem;

                font-size: 18px;
                font-weight: 500;
                line-height: 24.52px;
                letter-spacing: -0.035em;
                text-align: left;

            }
        }

        &__item:last-child{
                        
            border-bottom: none;
        }
        
    }
}


@media only screen and (max-width: 768px ) {
    .profilePage{
        padding-top: 7.9rem;
        padding-bottom: 5rem;

        &__title{
            color: #000000;
            font-size: 24px;
            font-weight: 400;
            line-height: 32.69px;
            letter-spacing: -0.035em;
            text-align: left;
            
        }
        &__subtitle{
            margin-top: 0.7rem;

            font-size: 14px;
            font-weight: 300;
            line-height: 19.07px;
            letter-spacing: -0.035em;
            text-align: left;

        }
    
        &__profile{
            margin-top: 4rem;
    
            width: 100%;
            min-height: fit-content;
            border: none;

            &__header{
                width: 100%;
                min-height: 10.6rem;
                padding: 0rem 2.1rem 2.5rem 2.3rem;
                border-bottom: none;
                
                &__title{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 32.69px;
                    letter-spacing: -0.035em;
                    text-align: left;
    
                }
                &__subtitle{
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 17.71px;
                    letter-spacing: -0.035em;
                    text-align: left;
                    
                }
    
                &__editButton{
                    width: 9.534rem;
                    height: 3.8rem;
                    border-radius: 12px;
                    color: #828282;
                    border: 1px solid #828282;

    
                    font-family: "Noto Sans";
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.79px;
                    letter-spacing: -0.035em;
                    text-align: center;
    
                }
            }
            
            &__item{
                width: 100%;
                min-height: 7.3rem;
                padding: 1.2rem 0rem;
                padding-right: 2rem;
                display: grid;
                grid-template-columns: 15.6rem auto;
                align-items: center;
                
                border-bottom: 1px solid #E0E0E0;

                .image{
                    width: 7.2rem;
                    height: 7.2rem;
                    justify-self: end;
                }

                
                .label{
                    width: 100%;
                    max-width: 15.6rem;
                    padding-left: 2rem;
    
                    color: #BDBDBD;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 17.71px;
                    letter-spacing: -0.035em;
                    text-align: left;

    
                }
    
                .data{
    
                    overflow:scroll;
                    height: fit-content;
                    max-height: 14.6rem;


                    font-size: 16px;
                    font-weight: 500;
                    line-height: 21.79px;
                    letter-spacing: -0.035em;
                    text-align: right;

    
                }
            }
    
            &__item:last-child{
                            
                border-bottom: none;
            }
            
        }
    }
}