.editProfilePage{

    padding: 10.1rem 29.7rem 10.2rem 29.6rem;

    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    &__back{
        width: max-content;
        color: #2D9CDB;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.52px;
        letter-spacing: -0.035em;
        text-align: left; 

        cursor: pointer;

        i{  
            font-size: 18px;
        }

    }
    &__edit{
        width: 100%;
        min-height: 82.756rem;
        border: 1px solid #E0E0E0;
        border-radius: 12px;

        
    }
}
