.changePassword{

    padding: 10.1rem 29.7rem 10.2rem 29.6rem;

    display: flex;
    gap: 2.4rem;
    flex-direction: column;

    &__back{
        width: max-content;
        color: #2D9CDB;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.52px;
        letter-spacing: -0.035em;
        text-align: left; 

        cursor: pointer;

        i{  
            font-size: 18px;
        }

    }

    &__edit{
        width: 100%;
        min-height: fit-content;
        padding: 3rem 4.8rem;
        border: 1px solid #E0E0E0;
        border-radius: 12px;

        &__title{
            font-size: 24px;
            font-weight: 400;
            line-height: 32.69px;
            letter-spacing: -0.035em;
            text-align: left;
            color: #000000;

        }

        &__subtitle{
            font-size: 13px;
            font-weight: 500;
            line-height: 17.71px;
            letter-spacing: -0.035em;
            text-align: left;
            color: #828282;
        }



        &__textInputs{
            width: 41.693rem;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap:2.4rem;
            margin-top: 3.2rem;

        }

        &__input{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .38rem;
            
        }

        &__inputName{
            font-size: 13px;
            font-weight: 500;
            line-height: 17.71px;
            letter-spacing: -0.035em;
            text-align: left;
            color: #4F4F4F;

        }

        &__inputValue{
            width: 100%;
            min-height: 52px;

            padding: 1.7rem 1.8rem;
            border-radius: 12px ;
            border: 1px solid #828282
        }


        &__button{
            width: 8.2rem;
            height: 3.8rem;
            border-radius: 8px;
            background: #2F80ED;

            color: #FFFFFF;

            font-size: 16px;
            font-weight: 500;
            line-height: 21.79px;
            letter-spacing: -0.035em;
            text-align: center;



            
        }
    }
}


@media only screen and (max-width: 768px ) {

    .changePasswordPage{

        padding: 7.9rem 2.1rem 5rem 2.3rem;
    
        display: flex;
        gap: 2.4rem;
        flex-direction: column;
    
        &__back{
            width: max-content;
            color: #2D9CDB;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.52px;
            letter-spacing: -0.035em;
            text-align: left; 
    
            cursor: pointer;
    
            i{  
                font-size: 18px;
            }
    
        }
    
        &__edit{
            width: 100%;
            min-height: 82.756rem;
            padding: 0;
            border: none;
            border-radius: none;
    
    
    
            &__title{
                font-size: 24px;
                font-weight: 400;
                line-height: 32.69px;
                letter-spacing: -0.035em;
                text-align: left;
                color: #000000;
    
            }
    
            &__subtitle{
                font-size: 13px;
                font-weight: 500;
                line-height: 17.71px;
                letter-spacing: -0.035em;
                text-align: left;
                color: #828282;
            }
    
    
    
            &__photoInput{
                display: flex;
                gap: 1.3rem;
                align-items: center;
                margin-top: 1.25rem;
    
                &__photo{
                    position: relative;
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 8px;
    
                    img{
                        width: 100%;
                        border-radius: 8px;
                    }
    
                    i{
                        position: absolute;
                        top:2.4rem;
                        left:2.4rem;
                        color: #FFFFFF;
                    }
                    p{
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 17.71px;
                        letter-spacing: -0.035em;
                        text-align: left;
                        color: #828282;
    
                    }
                }
            }
    
    
    
            &__textInputs{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap:1.2rem;
                margin-top: 3.2rem;
    
            }
    
            &__input{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .38rem;
                
            }
    
            &__inputName{
                color: #BDBDBD;
                font-size: 13px;
                font-weight: 500;
                line-height: 17.71px;
                letter-spacing: -0.035em;
                text-align: left;

    
            }
    
            &__inputValue{
                width: 100%;
                min-height: 52px;
    
                padding: 1.7rem 1.8rem;
                border-radius: 12px ;
                border: 1px solid #828282
            }
    
    
            &__button{
                width: 8.2rem;
                height: 3.8rem;
                border-radius: 8px;
                background: #2F80ED;
    
                color: #FFFFFF;
    
                font-size: 16px;
                font-weight: 500;
                line-height: 21.79px;
                letter-spacing: -0.035em;
                text-align: center;
                
            }
        }
    }
    

}
